*, *:before, *:after {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

html{
    font-size: 100%;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
     display: flex;
    justify-content: center;
    width: 40%;
    /*background-color: black;*/
}

input{
    display: inline-block;
    height: 4rem;
    width: 100%;
    text-align: right;
    font-family: "orbitron";
    font-size: 2rem;
}

/*div input{
    width: 100%;
}*/

.hundred{
    width: 100%;
    height: 200%;
    display: block;
}

.eighty{
    width: 80%;
    /*height: 80%;*/
}

.thirty{
    width: 30%;
}

.twenty{
    width: 25%;
}

.thirty-three{
    width: 33.33%;
}

.sixty-six{
    width: 66.66%;
}

.fifty{
    width: 50%;
    
}
#numbers-signs{
    width:80%;
    height: 60%;
    min-width: 200px;
    font-size: 2.0rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#numbers{
    width:80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}

#signs{
    width:20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div{    
    height: 16%;
    /*border: 1px solid blue;*/
}

button{    
    /*border-radius: 2px;*/
    border: 2px solid black;
    /*border: none;*/
    /*background-color: rgb(50,50,50);*/
    min-width: 50px;
    min-height: 50px;
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}

.red{
    background-color: red;
}

.light-black{
    background-color: rgb(50,50,50);
    display: block;
}

.darker-black{
    background-color: rgb(40,40,40)
}

.darker-cyan{
    background-color: rgb(11,85,107)
}

.light-red{
    background-color: rgb(159,8,8)
}

button:hover{
    background-color: darkcyan;
}

